<% entries.each do |entry| %>
  <div class="col-12 col-sm-6 col-lg-4 entry-col">
    <%= link_to binomio_blog_entry_fancy_path(id: entry.id, url_title: entry.url_title), class: "w-100" do %>
      <div class="entry my-3">
        <% if entry.head_image.attached? %>
          <%= image_tag entry.thumbnail %>
        <% else %>
          <%= image_tag "binomio_blog/default_thumbnail.jpg" %>
        <% end %>
        <div class="p-3">
          <h2><%= entry.title %></h2>
          <p class="entry-description"><%= entry.content.gsub(/<[^>]+>/, '').first(100) %></p>
          <span class="entry-date">Hace <%= time_ago_in_words(entry.published_at) %></span>
          <% if entry.category.present? %>
            <span class="entry-category"><%= entry.category.name %></span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>