<div class="row justify-content-center">
  <div class="col-12 col-md-11 col-lg-10 col-xl-9 pt-3">
    <h1>Entradas</h1>
    <table class="table mt-3">
      <thead>
        <tr>
          <th>Estado</th>
          <th>Publicación</th>
          <th>Título</th>
          <th>Autor</th>
          <th>Categoría</th>
          <th>Vistas</th>
          <th>Likes</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @entries.each do |entry| %>
          <tr>
            <td><%= editable_select entry, :status, BinomioBlog::Entry::PRETTY_STATUSES.map{|original, pretty| [pretty, original]}, class: "form-control" %></td>
            <td>Hace <%= time_ago_in_words entry.published_at %></td>
            <td><%= link_to entry.title, binomio_blog_entry_fancy_path(id: entry.id, url_title: entry.url_title) %></td>
            <td><%= entry.author_name %></td>
            <td><%= entry.category&.name || "-" %></td>
            <td><%= entry.view_count %></td>
            <td><%= entry.like_count %></td>
            <td><a href="<%= binomio_blog_entry_path(entry) %>" data-method="delete" data-confirm="¿Borrar la entrada <%= entry.title %>?" class="btn btn-danger">Borrar</a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <a href="<%= binomio_blog_new_entry_path %>" class="btn btn-primary">Nueva entrada</a>
  </div>
</div>