<div class="row justify-content-center">
  <div class="col-12 col-md-11 col-lg-10 col-xl-9 pt-3">
    <h1>Binomio Blog</h1>

    <h2>Estados</h2>
    Cada entrada del blog puede estar en uno de 4 diferentes estados:
    <ul>
      <li><b>Borrador</b>: Un post que aún no está listo para publicarse.</li>
      <li><b>Publicado</b>: Un post visible por los visitantes.</li>
      <li><b>Deshabilitado</b>: Un post dado de baja, no visible para los visitantes.</li>
      <li><b>Sin listar</b>: Un post que no se muestra en la lista de entradas, pero accesible a través del link directo.</li>
    </ul>

    <h2>Likes</h2>
    Cualquier visitante del blog puede dar like a un post haciendo clic en el ícono correspondiente. Cada dirección IP puede dar like a una entrada una sola vez.

    <h2>Vistas</h2>
    El contador de vistas cuenta cuántas veces se ha mostrado la página de cada entrada. Solamente se cuentan las vistas por usuarios no registrados.
  </div>
</div>