<div class="row justify-content-center">
  <div class="col-12 col-md-11 col-lg-10 col-xl-9 pt-3">
    <h1 class="d-inline-block">Blog</h1>
    <button id="btnResetFilters" class="btn btn-secondary float-right d-none" onclick="setCategory(null)">Quitar filtro</button>
    <div id="divEntries" class="row">

    </div>
  </div>
</div>
<style>
  .entry-col > a {
    color: #333;
    text-decoration: none;
  }
  .entry {
    box-shadow: 1px 1px 3px grey;
    border-radius: 5px;
    transition: box-shadow 0.5s;
  }
  .entry:hover {
    box-shadow: 1px 1px 5px #333;
  }
  .entry h2 {
    font-size: 20px;
    font-weight: bold;
  }
  .entry > img {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  .entry > div {
    padding: 10px;
  }
  .entry-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .entry-date {
    color: grey;
    font-size: 80%;
  }
  .entry-category {
    float: right;
    padding: 2px 5px;
    background-color: #9b9bff;
    color: white;
    font-size: 12px;
    border-radius: 5px;
  }
</style>
<script>
  var currentOffset = 0; // The offset from which to display Entries (starting from the most recent Entry)
  var reachedLimit = false; // If this is true, it means there are no Entries left to fetch from the server
  var categoryToFilter = null; // The name of the Category to filter Entries for, or null if no filtering is desired
  $(function() {
    loadMoreEntries();
    // When the user scrolls to the bottom of the page, load more entries
    $(window).scroll(function() {
      if(!reachedLimit && $(window).scrollTop() + $(window).height() == $(document).height()) {
        loadMoreEntries();
      }
    });
  });
  // Fetch Entries from the server in HTML format and inject them into the DOM
  function loadMoreEntries() {
    console.log("Loading entries with offset " + currentOffset);
    $.ajax({
      url: "<%= binomio_blog_search_path %>",
      data: {
        offset: currentOffset,
        category: categoryToFilter
      },
      success: function(res) {
        $("#divEntries").append(res);
        currentOffset += <%= BinomioBlog::EntriesController::ENTRIES_PER_PAGE %>;
        if (res.length == 0) { // If the server replied with blank HTML it means there are no more Entries left
          reachedLimit = true;
        }
        // When the user clicks on a category tag, filter the Entries by that category
        $(".entry-category").click(function(evt) {
          evt.preventDefault();
          setCategory(evt.currentTarget.innerText);
        });
      }
    });
  }
  // Choose a new category to show Entries for
  function setCategory(category) {
    if (category != categoryToFilter) {
      categoryToFilter = category;
      resetEntries();
      loadMoreEntries();
    }
    $("#btnResetFilters").toggleClass("d-none", category == null); // Hide the "reset filters" button when no category filter is present
  }
  // Clear all the Entries being displayed and start again from offset 0
  function resetEntries() {
    $("#divEntries").html("");
    currentOffset = 0;
  }
</script>