<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-8 col-xl-6 pt-3">
    <h1><%= editable_text @entry, :title %></h1>
    <hr/>
    <% if @entry.head_image.attached? || authorized_for_blog_edition? %>
      <%= editable_image @entry, :head_image, { missing_image: "binomio_blog/default_thumbnail.jpg" }, class: "entry-image" %>
    <% end %>
    <hr/>
    <div>
      <%= editable_text @entry, :content, rich: true %>
    </div>
    <hr/>
      <i>Publicado por <%= editable_text @entry, :author_name %> (<%= editable_text @entry, :author_role %>)</i>
      <span style="float:right; color: #444">
        <i class="fa fa-eye mr-2"></i><%= @entry.view_count %>
        <i class="fa fa-heart like-icon mx-1 ml-3"></i><%= @entry.like_count %>
      </span>
    <hr/>
    <% if authorized_for_blog_edition? %>
      <label>Estado: <%= editable_select @entry, :status, BinomioBlog::Entry::PRETTY_STATUSES.map{|original, pretty| [pretty, original]}, class: "form-control" %></label><br/>
      <label>Categoría: <%= editable_select @entry, :category_id, BinomioBlog::Category::all.map{|cat| [cat.name, cat.id]}, class: "form-control" %></label><br/>
    <% end %>
  </div>
</div>
<style>
  .entry-image {
    max-width: 100%;
  }
  .like-icon {
    cursor: pointer;
    padding: 4px;
  }
  .like-icon.liked {
    color: #f72a4e;
  }
</style>
<script>
  // When the like button is clicked, send an AJAX request and color the icon pink if successful
  $(".like-icon").click(function(evt) {
    $.ajax({
      url: "<%= binomio_blog_set_like_path %>",
      type: "post",
      data: {
        like: !$(evt.currentTarget).hasClass("liked")
      },
      success: function() {
        $(evt.currentTarget).toggleClass("liked");
      }
    });
  });
</script>