<div class="row justify-content-center">
  <div class="col-12 col-md-11 col-lg-10 col-xl-9 pt-3">
    <h1>Categorías</h1>
    <table class="table mt-3">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Nombre en URL</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= editable_text category, :name %></td>
            <td><%= editable_text category, :url_name %></td>
            <td><a href="<%= binomio_blog_category_path(category) %>" data-method="delete" data-confirm="¿Borrar la categoría <%= category.name%>?" class="btn btn-danger">Borrar</a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <a href="<%= binomio_blog_new_category_path %>" class="btn btn-primary">Nueva categoría</a>
  </div>
</div>